* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

header{
    border:1px solid #ddd;
    overflow:hidden;
}
#logo{
    width:120px;
    float:left;
    margin:15px 25px;
}
nav{
    float:right;
    padding-top:30px;
    padding-right:100px;
    padding-bottom:30px;
}
a{
    text-decoration:none;
    padding-left:16px;
    color:#122b46;
    font-weight:bold;
    font-size:15px;
    
}
a:link{
    color:#122b46;
}
a:hover{
    color:#4d5c6d;
}
a:active{
    color:#ea728c;
}
.mwalimu {
    background-color: rgb(255, 206, 236, 0.2);
    word-wrap: break-word;
    overflow: auto;
    text-align: left;
}

#teacher {
    float: right;
    width: 50%;
    height: 70%;
    padding-top: 180px;
}

#question {
    font-size: 60px;
    font-weight: bold;
    color: #122b46;
    padding:60px 0px 35px 90px;
    font-family: 'Poppins', sans-serif;
}

.mwalimu2 {
    padding: 0px 0px 30px 90px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

#login {
    margin-left: 90px;
    padding: 12px;
    background-color: #122b46;
    color: white;
    border: 1px solid #122b46;
    border-radius: 6px;
    text-align: center;
    font-weight: normal;
}

#rubheading {
    text-align: center;
    margin: 40px;
    color: #122b46;
    font-size: 30px;
    font-weight: bold;
}

#rubrics-cards{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.floaters{
    width:45%;
    margin:20px;
}

.rubpics {
    border: 5px solid hotpink;
    border-radius: 10px;
    width: 100%;
}

.subheader {
    text-align: center;
    color: hotpink;
    padding:16px 0px;
    font-size:20px;
    font-weight:bold;
}

.prub1{
    margin-left: 85px;
    padding: 8px 0px;
    color: #122b46;
}

.trmoses {
    overflow: auto;
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);
    margin:30px;
    width: 90%;
    text-align: justify;
    margin-left: 70px;
    margin-bottom: 30px;

}

#teacher1 {
    float: left;
    margin: 35px;
}

#comment {
    padding: 15px 10px;
    color: #122b46;
}

#name {
    padding-top: 10px;
    padding-bottom: 30px;
    color: #122b46;
    font-weight: bold;

}

.CBCsolution {
    overflow: auto;
    background-color: rgba(255, 206, 236, 0.4);
}

#thecbcapp {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    font-size: 40px;
    font-weight: bold;
    color: #4f3963;

}

#realsolution {
    text-align: center;
    padding-bottom: 40px;
    color: #4f3963;
}

#cbcmobile {
    float: left;
    height: 500px;
    margin-left: 200px;
    margin-right: 40px;


}

.psolution {
    padding: 15px;
    color: #122b46;
    margin-right: 30px;
}

#lline {
    margin-bottom: 30px;
}

#costbutton {
    border: 2px solid #122b46;
    border-radius: 5px;
    background-color: #122b46;
    text-align: center;
    color: white;
    padding: 15px;
}

#ytvid {
    margin: 130px;
}

.flex-box{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.remarks {
    display: inline-block;
    background-color: rgba(169, 184, 195, 0.3);
    overflow: auto;
    border: 2px solid rgba(169, 184, 195, 0.1);
    width: 24%;
    height: 300px;
    margin: 27px;
    margin-top: 0px;

}

.trpics {
    margin:25px 0px 16px 130px;
}

.trname {
    margin-left: 16px;
    padding-bottom: 16px;
    font-weight: bold;
}

.ptrcomments {
    margin-left: 16px;
    padding-bottom: 32px;
}

#social{
    display:flex;
    flex-direction:row;
    height:200px;
    margin:40px 0px;
    padding:20px;
    justify-content: space-evenly;
}

.ssc{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#ddd;
    overflow:hidden;
    width:20%;
}
.xx{
    float:left;
    margin:10px;
}
.xo{
    margin:5px;
}
.psocial{
    color:purple;
}
#handles{
  flex-direction:row;
  background-color:white;   
}

footer {
    background-color: #36013f;
}

#pfooter {
    padding:15px 0px 15px 130px;
    color: #cc9bc6;
    font-size: 13px;
}
